<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlphaClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <AlphaClicker.Properties.Settings>
                <setting name="SelectedTheme" serializeAs="String">
                        <value>/Themes/LightTheme.xaml</value>
                </setting>
                <setting name="OnTopMost" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="TogglePlay" serializeAs="String">
                        <value>F6</value>
                </setting>
                <setting name="SaveAllSettings" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Sleep" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="UseRandomSleep" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="RandNum1" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="RandNum2" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ClickType" serializeAs="String">
                        <value />
                </setting>
                <setting name="RepeatTimesChecked" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="RepeatTimes" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="CustomCoordsChecked" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="CustomCoordsX" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="CustomCoordsY" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="MouseBtn" serializeAs="String">
                        <value />
                </setting>
                <setting name="AHKInstallPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="ProcessHWND" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ProcessName" serializeAs="String">
                        <value />
                </setting>
                <setting name="DefaultTheme" serializeAs="String">
                        <value>Themes/LightTheme.xaml</value>
                </setting>
                <setting name="JitterFactor" serializeAs="String">
                        <value>0</value>
                </setting>
        </AlphaClicker.Properties.Settings>
    </userSettings>
</configuration>